.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: var(--color-white);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 2rem;
    outline: none;
    color: var(--color-dark-text);
    font-family: 'Roboto', sans-serif;
  }
  
  .closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--color-dark-text);
  }
  .modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
  }