:root {
    --color-primary: #4B9CBD;
    --color-secondary: #A5CCE3;
    --color-dark: #2D6A91;
  
    /* Contrastes */
    --color-contrast1: #FF6F61; /* coral */
    --color-contrast2: #FFC107; /* amarillo dorado */
    --color-contrast3: #8BC34A; /* verde lima */
    --color-contrast4: #EC407A; /* fucsia */
  
    /* Apoyo */
    --color-white: #FFFFFF;
    --color-dark-text: #212121;
  }
  